<!-- HEADER PRINCIPAL -->
<header class="mt-lg-n6 mb-4">
    <h1 class="h4 mb-0">Categorias por grupo</h1>
</header>

<!-- Card de Listagem -->
<div class="section rounded mb-3">
    <div class="bg-white shadow-md rounded">
        <div class="p-4 border-bottom d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Categorias por grupo</h5>
        </div>
        <div class="p-4">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><%= group.id %> - <%= group.name %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(function(cat) { %>
                            <tr>
                                <td>
                                    <label class="d-flex align-items-center mb-3">
                                        <input 
                                            class="d-none-cloaked associated-category" 
                                            type="checkbox" 
                                            name="associated" 
                                            id="associated_<%= cat.id %>" 
                                            data-category-id="<%= cat.id %>" <%= associated.includes(cat.id) ? 'checked' : '' %>
                                        >
                                        <i class="switch-icon switch-icon-primary switch-icon-xs"></i>
                                        <span class="px-3 user-select-none">
                                            <%= cat.name %>
                                        </span>
                                    </label>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <input type="hidden" name="group-id" id="group-id" value="<%= group.id %>">
                <a href="<%= base_url('group') %>" class="btn btn-secondary mt-3"><i class="fi fi-arrow-left me-2"></i> Voltar</a>
            </div>
        </div>
    </div>
</div>
