<!--  header -->
<header id="header" class="d-flex align-items-center bg-transparent">

    <!-- Navbar -->
    <div class="px-3 px-lg-0 w-100 position-relative">

        <nav class="navbar navbar-expand-lg navbar-light justify-content-between h-auto">

            <!-- logo, navigation toggler -->
            <div class="align-items-start">

                <!-- sidebar toggler -->
                <a href="#aside-main"
                    class="btn-sidebar-toggle h-100 d-inline-block d-lg-none justify-content-center align-items-center p-2">
                    <span>
                        <svg width="25" height="25" viewBox="0 0 20 20">
                            <path
                                d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z">
                            </path>
                            <path
                                d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z">
                            </path>
                            <path
                                d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
                            </path>
                            <path
                                d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
                            </path>
                        </svg>
                    </span>
                </a>

                <!-- logo : mobile only -->
                <a class="navbar-brand d-inline-block d-lg-none mx-2" href="<%= base_url('dashboard') %>">
                    <img src="<%= base_url() %>/assets/images/logo/logo_sm.svg" width="38" height="38" alt="...">
                </a>

            </div>

            <!-- options -->
            <ul class="list-inline list-unstyled mb-0 d-flex align-items-end">


                <!-- account -->
                <li class="list-inline-item mx-1 dropdown">

                    <!-- has avatar -->
                    <a href="#" id="dropdownAccountOptions"
                        class="avatar avatar-sm dropdown-toggle rounded-circle shadow bg-cover"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                        aria-haspopup="true" aria-label="Account options">
                        <%= user ? user.name.charAt(0).toUpperCase() : 'U' %>
                    </a>


                    <div aria-labelledby="dropdownAccountOptions"
                        class="dropdown-menu dropdown-menu-clean dropdown-menu-navbar-autopos dropdown-menu-invert dropdown-fadeindown p-0 mt-2 w-300">

                        <!-- user detail -->
                        <div
                            class="dropdown-header bg-primary bg-gradient rounded rounded-bottom-0 text-white small p-4">
                            <span class="d-block fw-medium text-truncate">
                                <%= user ? user.name : 'Usuário' %>
                            </span>
                            <span class="d-block smaller fw-medium text-truncate"><a href="/cdn-cgi/l/email-protection"
                                    class="__cf_email__"
                                    data-cfemail="c4aeabacaaeaa0aba184a3a9a5ada8eaa7aba9">[email&#160;protected]</a></span>
                            <span class="d-block smaller"><b>Último Login:</b>
                                <%= session.created_at ? new Date(session.created_at).toLocaleString('pt-BR') : ''%></span>
                        </div>

                        <a href="<%=base_url('auth/logout') %>"
                            class="prefix-icon-ignore dropdown-footer dropdown-custom-ignore fw-medium py-3 px-4">
                            <i class="fi fi-power float-start"></i>
                            Log Out
                        </a>
                    </div>

                </li>

            </ul>
            <!-- /options -->

        </nav>

    </div>
    <!-- /Navbar -->

</header>
<!-- /Header -->