<!-- sidebar -->
<aside id="aside-main" class="aside-start aside-hide-xs bg-white shadow-sm d-flex flex-column px-2 h-auto">

    <!-- sidebar : logo -->
    <div class="py-2 px-3 mb-3 mt-1">
        <a href="<%= base_url('dashboard') %>">
            <img src="<%= base_url() %>/assets/images/logo/logo_dark.svg" width="110" height="60" alt="...">
        </a>
    </div>
    <!-- /sidebar : logo -->


    <!-- sidebar : navigation -->
    <div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">
        <nav class="nav-deep nav-deep-sm nav-deep-light">
            <ul class="nav flex-column">
                <li class="nav-item active">
                    <a class="nav-link" href="<%= base_url('dashboard') %>">
                        <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
                            </path>
                        </svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M3 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z">
                            </path>
                            <path d="M13 3V2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z">
                            </path>
                        </svg>
                        <span>Cadastro</span>
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-end"></i>
                            <i class="fi fi-arrow-down"></i>
                        </span>
                    </a>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="<%= base_url() %>/event">Evento</a></li>
                        <li class="nav-item"><a class="nav-link" href="<%= base_url() %>/category">Categoria</a></li>
                        <li class="nav-item"><a class="nav-link" href="<%= base_url() %>/ticket">Ticket</a></li>
                        <li class="nav-item"><a class="nav-link" href="<%= base_url() %>/user">Usuários</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                            <path
                                d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z">
                            </path>
                        </svg>
                        <span>Acesso</span>
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-end"></i>
                            <i class="fi fi-arrow-down"></i>
                        </span>
                    </a>

                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="<%= base_url() %>/group">Grupos</a></li>
                        <li class="nav-item"><a class="nav-link" href="<%= base_url() %>/device">Devices</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="bi bi-app-indicator" viewBox="0 0 16 16">
                            <path
                                d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z">
                            </path>
                            <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        </svg>
                        <span>Apps</span>
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-end"></i>
                            <i class="fi fi-arrow-down"></i>
                        </span>
                    </a>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="group-icon float-end">
                                    <i class="fi fi-arrow-end"></i>
                                    <i class="fi fi-arrow-down"></i>
                                </span>
                                Projects / Tasks
                            </a>
                            <ul class="nav flex-column">
                                <li class="nav-item"><a class="nav-link" href="app-projects-list.html">Project list</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="app-projects-task-list.html">Task
                                        list</a></li>
                                <li class="nav-item"><a class="nav-link" href="app-projects-task-detail.html">Task
                                        detail</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="app-file-manager.html">File
                                manager</a></li>
                        <li class="nav-item"><a class="nav-link" href="app-chat.html">Chat</a></li>
                        <li class="nav-item"><a class="nav-link" href="app-kanban.html">Kanban</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg width="18px" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM0 2a2 2 0 0 1 3.937-.5h8.126A2 2 0 1 1 14.5 3.937v8.126a2 2 0 1 1-2.437 2.437H3.937A2 2 0 1 1 1.5 12.063V3.937A2 2 0 0 1 0 2zm2.5 1.937v8.126c.703.18 1.256.734 1.437 1.437h8.126a2.004 2.004 0 0 1 1.437-1.437V3.937A2.004 2.004 0 0 1 12.063 2.5H3.937A2.004 2.004 0 0 1 2.5 3.937zM14 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zM2 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm12 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                            </path>
                        </svg>
                        <span>Layouts</span>
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-end"></i>
                            <i class="fi fi-arrow-down"></i>
                        </span>
                    </a>

                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="layout-dark-header.html">Dark
                                Header</a></li>
                        <li class="nav-item"><a class="nav-link" href="layout-dark-sidebar.html">Dark
                                Sidebar</a></li>
                        <li class="nav-item"><a class="nav-link" href="layout-dark-both.html">Dark Both</a>
                        </li>
                        <li class="nav-item mt-2"><a class="nav-link" href="layout-sticky-header.html">Sticky Header</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="layout-sticky-sidebar.html">Sticky
                                Sidebar</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="layout-sticky-both.html">Sticky
                                Both
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
    <!-- /sidebar : navigation -->

</aside>
<!-- /sidebar -->